$primary: rgb(255, 249, 218);
$red: rgb(255, 0, 0);
$yellow: rgb(251, 255, 0);
$green: rgb(9, 122, 1);
$blue: rgb(0, 96, 241);

// note cover
$note-cover: rgb(255, 255, 255);
$note: rgb(230, 230, 230);
$cover-font-color: #2157ec;

$font-color: #222d38;